<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid" style="background-color:rgb(55, 133, 144); font-family: 'Raleway', sans-serif; position:unset;bottom: 0px;">
        <div class="container" style="background-color:rgb(55, 133, 144);">
            <div class="row" >
                <div class="col-md-6">
                    <h6>The awards for design,creativity and innovation on the internet</h6>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:30px;">
                    <h6>Directory Jobs Contact Us Cookies Policy Legal Terms Privacy Policy</h6>
                </div>
                <div class="col-md-12" style="padding-top:30px;">
                    <h6>Private Cloud by <strong>Stackscale</strong></h6>
                </div>
            </div>
        </div>
    </div>
</body>

</html>